/* div */
.StackContainer {
  height: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #101010;
}

/* div */
.StackWrapper {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 16px;
  padding: 0 50px;
}
@media screen and (max-width: 1000px) {
  .StackContainer {
    height: 2000px;
  }
  .StackWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 760px) {
  .StackContainer {
    height: 3400px;
  }
  .StackWrapper {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}

/* div */
.StackCard {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  max-height: 340px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.StackCard:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

/* img */
img {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
}

/* h1 */
h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 64px;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
/* h2 */
h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* p */
p {
  font-size: 1rem;
  text-align: center;
}
